<div class="comment">
  <div class="avatar">
    <img src="https://www.gravatar.com/avatar/?d=mp&f=y" alt="Random avatar">
  </div>
  <div class="content">
    <a href="" class="author" data-poke="<%= message.username %>"><%= message.username %></a>
    <div class="text">
      <%= message.content %>
    </div>
  </div>
</div>